@model WeBuildASP.Models.Team

@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want delete this?</h3>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T_COUNTRY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T_COUNTRY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T_INCHAR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T_INCHAR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T_ACTIVE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T_ACTIVE)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>


</div>