@model IEnumerable<WeBuildASP.Models.Loan>


@{
    ViewData["Title"] = "Loan for Team";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a> <a asp-action="GoAdminMenu" class="btn btn-default">Home</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.L_AMOUNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L_DTAIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L_DTAOU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L_TEAM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.L_AMOUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_DTAIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_DTAOU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_TEAM)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

