@model WeBuildASP.Models.LoanForEmploy

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Loan For Employ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L_F_AMOUNT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L_F_AMOUNT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L_F_REGISTERDATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L_F_REGISTERDATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L_F_EMPLOY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L_F_EMPLOY)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default">Edit</a>
    <a asp-action="Index">Back to list</a>
</div>

