@model WeBuildASP.Models.Employee


@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want delete this?</h3>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E_LASTANAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E_LASTANAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E_NACIONALITY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E_NACIONALITY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E_DTANAS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E_DTANAS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E_TEAM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E_TEAM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E_ACTIVE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E_ACTIVE)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>


</div>

