@model IEnumerable<WeBuildASP.Models.Schedule>


@{
    ViewData["Title"] = "Schedules";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a> <a asp-action="GoAdminMenu" class="btn btn-default">Home</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.S_WEEKDAYS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_STARTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_ENDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_LUNCHT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_LUNCHIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_TEAM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.S_WEEKDAYS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_STARTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_ENDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_LUNCHT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_LUNCHIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_TEAM)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>
